/* Logo */
header{
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#logo{
    height: 50px;
    padding-top: 2.5%;
}

main{
    width: 1080px;
    text-align: left;
}

/* Intestazione */
#intestazione{
    width: auto;
}

#title{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#credits{
    color: grey;
    font-size: 16px;
}

#owner{
    color: blue;
}

.spxthings{
    font-size: 11px;
}

#timimg{
    display: inline-block;
    margin-top: 22px;
}

/* Contenuto */
.backyellow{
    background-color: yellow;
}

ul{
    padding: 20px;
}

table{
    width: 100%;
    border-spacing: 0;
}

th{
    background-color: blue;
    color: white;
    width: 25px;
}

.trcolored{
    background-color: lightblue;
}

h4{
    margin-bottom: 5px;
    color: grey;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 200px;
    padding-left: 25px;
    padding-top: 25px;
}

#graph{
    background-image: url(../img/graph.jpg);
    color: white;
    background-repeat: no-repeat;
    height: 200px;
    padding-left: 25px;
    padding-top: 25px;
}